/* ======================================== Variables ======================================== */
:root {
    --background: rgb(30, 35, 68);
    --shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}



/* ======================================== Formatting ======================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: #fff;
    line-height:1.6;
    font-family: Arial, Helvetica, sans-serif;
    min-height:355px;
}



/* ======================================== Header ======================================== */
#logo img { /* positions the image in the header */
    position: absolute;
    width: 180px;
    margin: 10px;
    top: 25px;
    left: 40px;
    z-index: 3;
    transition: 0.3s;
}
@media(max-width:500px){ /* moves logo to the left */
    #logo img {
        left: 10px;
        transition: 0.3s;
    }
}

#header { /* Positions the header ontop of the slide show */
    position: absolute;
    top: 30px;
    z-index: 3;
    width:100%;
}

#header ul { /* places the heading tabs and grids them out */
    position: absolute;
    width:600px;
    grid-gap: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    list-style: none;
    right: 0;
}

#header ul li { /* pads out the buttons */
    padding-top: 30px;
    font-weight: 530;
}


#header .item a { /* styles the header buttons */
    text-decoration: none;
    color: #fff;
    border: 2px solid #FFF;
    padding: 15px;
    background: transparents;
    width: 20px;
}
#header .item a:hover{ /* hover effects */
    background: white;
    color: #333;
    transition: 0.3s;
}



/* ======================================== Slider Show ======================================== */

#slider { /* Formats the position of the header */
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    box-shadow: var(--shadow);
    min-height:355px;  
}

#slider .slide { /* Formats the information inside the slider section.  Adds opacity transition */
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

#slider .slide.current { /* sets the .current slide opacity to 1 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

#slider .slide .content { /* moves the content of the inactive slide off the page */
    position: absolute;
    bottom: 70px;
    left: -700px;
    opacity: 0;
    width: 600px;
    padding: 35px;
}

#slider .slide .content h1{ /* adjusts slide heading margins and font */
    margin-bottom: 10px;
    font-size: 190%;
}
#slider .slide .content p { /* increases font size */
    font-size: 130%;
}

#slider .slide.current .content { /* Moves the .current slide information onto the screen */
    opacity: 1;
    transform: translateX(780px);
    transition: all 0.7s ease-in-out 0.3s;
}

#slider .content a { /* Formats the buttons in the slide */
    text-decoration: none;
    color: white;
    padding: 13px 15px;
    border: 2px solid #fff;
    margin-top: 10px;
    transition: 0.3s;
}
#slider .content a:hover { /* hover effects for the slide links */
    background: #fff;
    color: #333;
    transition: 0.3s;
}

button#next { /* positions the #next button */
    position: absolute;
    top:50%;
    right:15px;
}

button#prev { /* positions the #prev button */
    position: absolute;
    top:50%;
    left:15px;
}

button.btn-slider { /* formats the slider buttons */
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 13px 15px;
    transition: 0.3s;
    z-index: 4;
}
button.btn-slider:hover { /* Hover effects for the slider button */
    background-color: #fff;
    color: #333;
    transition: 0.3s;
}

/* Background Images */
.slide:first-child { /* declares as the first slide image */
    background: url(../images/slide1.jpg) no-repeat center center/cover; 
}

.slide:nth-child(2) { /* second slide image */
    background: url(../images/slide2.jpg) no-repeat center center/cover; 
}

.slide:nth-child(3) { /* third slide image */
    background: url(../images/slide3.jpg) no-repeat center center/cover; 
}


@media(max-width: 700px) { 
    #slider .slide .content { /* if the page is less than 500px, the text moves from the bottom */
        bottom: -300px;
        left: 0;
        width: 100%;
    }
    #slider .slide.current .content { 
        transform: translateY(-300px);
    }

    button.btn-slider{ /* changes the buttons opacity to make the site more appealing.  
        Also increases the size and formatting to make the screen interactable */
        position: absolute;
        opacity: 0;
        height: 55vh;
        width: 45%;
        transition:0s;
    }
    button#next { /* positions the #next button */
        position: absolute;
        top:130px;
        right:15px;
    }
    button#prev { /* positions the #prev button */
        position: absolute;
        top:130px;
        left:15px;
    }

    @media(max-height: 435px){ /* hides slider buttons when page is to short */
        button.btn-slider{
            display: none;
        }
    }
}



/* ======================================== Footer ======================================== */
#footer { /* positions the contents of the footer */
    position: absolute;
    right: 455px;
    text-align: center;
    text-decoration: none;
}

#footer ul{ /* places the elements on a grid */
    position: absolute;
    border-left: 20px;
    display: grid;
    grid-gap: 34px;
    grid-template-areas:
        "disclaimer disclaimer disclaimer disclaimer disclaimer"
        "colin clark griffin nathan james";
    list-style: none;
    padding: 20px;
}

#footer a{ /* removes text decoration in side-bar footer */
    text-decoration:none;
    color: #fff;
}

#footer .foot-item{ /* defines the shapes of the elements */
    display: block;
    width: 50px;
    height: 50px;
    border: hidden;
    border-radius: 30px;
} 

#footer #disclaimer{ /* assigns the #disclaimer grid area */
    grid-area: disclaimer;
}

/* Footer icons */ /* Each section assigns a background image of everyone's face, and a hover effect changing it to an email icon */
/* Colin */
#footer span#colin {
    background-image: url(../images/profile/colin-50px.jpg);
    grid-area: colin;
    transition: 0.3s;
}
#footer span#colin:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}

/* Clark */
#footer span#clark {
    background-image: url(../images/profile/clark-50px.jpg);
    grid-area: clark;
    transition: 0.3s;
}
#footer span#clark:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}

/* Griffin */
#footer span#griffin {
    background-image: url(../images/profile/griffin-50px.jpg);
    grid-area: griffin;
    transition: 0.3s;
}
#footer span#griffin:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}

/* Nathan */
#footer span#nathan {
    background-image: url(../images/profile/nathan-50px.jpg);
    grid-area: nathan;
    transition: 0.3s;
}
#footer span#nathan:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}

/* James */
#footer span#james {
    background-image: url(../images/profile/james-50px.jpg);
    grid-area: james;
    transition: 0.3s;
}
#footer span#james:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}



/* ======================================== SideBar ======================================== */
#wrapper{ /* sets default position for wrapper */
position: absolute;
width: 100%;
right: 0;
transition: all 0.3s ease;
box-shadow: var(--shadow);
}
#wrapper.active { /* toggle state for the wrapper */
    position: absolute;
    width: 100%;
    right: 260px;
	transition: all 0.3s ease;
}

#sidebar { /* sets default value and formatting for sidebar content */
    position: absolute;
    right: 0px;
    width:260px;
    height: 100vh;
    text-align: center;
    transition: all 0.3s ease;
    opacity:0;
}
#sidebar.active { /* toggle state for the sidebar */
    right: 0;
    transition: all 0.3s ease;
    opacity: 1;
}

@media(min-width: 900px){ /* hides side bar past 900px width */
    #sidebar.active{
        opacity: 0;
    }
}

#sidebar ul { /* formats list */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li { /* list contents will flex.  (idk what that means lolwut) */
    display: flex;
}

#sidebar a { /* formats links in the sidebar */
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    flex: 1;
    width: 100%;
    transition: 0.3s;
}

#sidebar .item a:hover { /* hover effects for navigation menu in sidebar */
    background: #fff;
    color: var(--background);
    transition: 0.3s;
    text-decoration: none;
}

#sidebar #side-menu li { /* adds padding to the menu list */
    padding-top: 30px;
}

#toggle-collapse{ /* formatting for hamburger button */
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 5;
    background: transparent;
    border: none;
    outline: none;
    transition: 0.3s;
}
#toggle-collapse.active { /* toggle state for the sidebar */
    padding-left:80vh;
    padding-bottom:80vh;
    /* padding-top: 40px;
    padding-right: 40px; */
    transition: 0.3s;
    /* margin-right:40px;
    margin-top:40px; */
    /* opacity: 0; */
}


#toggle-icon { /* formatting for hamburger button's span list */
    list-style: none;
}

.toggle-bar { /* creates the blocks for the hamburger menu */
    display: block;
    width: 50px;
    height:5px;
    margin: 10px 10px 10px 10px;
    background-color: #fff;
}

#side-footer { /* places grid for the side footer */
    position: absolute;
    text-align: center;
    bottom: 10px;
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
        "colin clark griffin"
        "filler nathan james"
        "disclaimer disclaimer disclaimer";
}
@media(max-width: 900px){
    @media(max-height: 565px){
        #side-footer { /* hides side-bar footer when page is two short */
            display: none;
        }
    }
}

#side-footer .foot-item { /* formates default shape for email icons */
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: hidden;
    border-radius: 50px;
}

#side-footer #disclaimer-s { /* formats disclaimer message */
    justify-self: center;
    width: 90%;
    grid-area: disclaimer;
}

#side-footer span#filler { /* fills the empty slot in the email icons */
grid-area: filler;
opacity: 0;
}

/* Footer icons */ /* Each section assigns a background image of everyone's face, and a hover effect changing it to an email icon */
/* Colin */
#side-footer span#colin-s {
    background-image: url(../images/profile/colin-50px.jpg);
    grid-area: colin;
    transition: 0.3s;
}
#side-footer span#colin-s:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}

/* Clark */
#side-footer span#clark-s {
    background-image: url(../images/profile/clark-50px.jpg);
    grid-area: clark;
    transition: 0.3s;
}
#side-footer span#clark-s:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}

/* Griffin */
#side-footer span#griffin-s {
    background-image: url(../images/profile/griffin-50px.jpg);
    grid-area: griffin;
    transition: 0.3s;
}
#side-footer span#griffin-s:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}

/* Nathan */
#side-footer span#nathan-s {
    background-image: url(../images/profile/nathan-50px.jpg);
    grid-area: nathan;
    transition: 0.3s;
}
#side-footer span#nathan-s:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}

/* James */
#side-footer span#james-s {
    background-image: url(../images/profile/james-50px.jpg);
    grid-area: james;
    transition: 0.3s;
}
#side-footer span#james-s:hover{
    transition: 0.3s;
    background-image: url(../images/email.jpg);
    border-radius: 0px;
}

/* Tool Tip Names for Footer & Side Footer */
.tooltip {
    position: relative;
    top:-25px;
    z-index: 20;
    opacity: 0;
    transition: 0.3s;
}
.foot-item:hover .tooltip {
    opacity: 1;
    transition: 0.3s;
}